@import "compass/reset";
@import "compass";

/*init*/
$base-font-size:12px;
$base-line-height:21px;
@include establish-baseline;

a{
  color:#000;
  text-decoration:none;
  &:hover{
    @include transition(all 0.3s ease);
    color:#999;
  }
}
body{
  font-family:'Droid Serif',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",YuGothic, '游ゴシック',"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
img{
  max-width:100%;
}

/*common*/
//header
#header{
  @include clearfix;
  @include transition(all 0.3s ease);
  position:absolute;
  width: 100%;
  z-index: 2;
  .top &{
    display:none;
  }
  #menu{
    @include inline-block-list;
    display:block;
    text-align:right;
    padding-right:20px;
    @include box-sizing(border-box);
    li{
      @include adjust-font-size-to(18px);
      padding:0 10px;
    }
    .active{
      color:#999;
    }
  }
}
//wrapper
#wrapper{
  @include box-sizing(border-box);
  position: absolute;
  height:100%;
  width: 100%;
  padding:41px 0 0;
  #creative{
    position:absolute;
  }
  #about{
    position:absolute;
  }
}
//title
.title{
    @include adjust-font-size-to(36px);
    border-bottom:solid 2px #000;
    span{
      display:inline-block;
      padding-left:20px;
    }
}
// loading
#loading{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  img{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-16px;
    margin-left:-16px;
  }
}
//overlay
#overlay{
  @include box-sizing(border-box);
  color:#fff;
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  padding-top:30px;
  z-index: 3;
  #close{
    bottom:40px;
    position: absolute;
    width: 100%;
    text-align: center;
   a{
    @include adjust-font-size-to(15px);
    @include transition(all 0.3s ease);
    color:#fff;
    border:solid 3px #fff;
    display:inline-block;
    padding: 8px 24px;
      &:hover{
        color:#aaa;
        border:solid 3px #aaa;
      }
    }
  }
  .c-over{
    padding:20px;
    @include clearfix;
    .over-left{
      float:left;
      width: 50%;
      text-align: center;
    }
    .over-right{
      @include box-sizing(border-box);
      float:right;
      padding: 10px;
      width: 50%;
      h2{
        @include adjust-font-size-to(21px);
      }
      h3{
        @include adjust-font-size-to(18px);
        a{
          color:#fff;
          text-decoration:underline;
        }
      }
      p{
        @include adjust-font-size-to(15px);
      }
    }
  }
}
#overlay-opacity{
  display:none;
  @include opacity(0.95);
  background-color:#000;
  position: absolute;
  width: 100%;
  height:100%;
}
/*top*/
#top{
  top:0;
  left:0;
  position:absolute;
  height:100%;
  width: 100%;
  h1{
    @include adjust-font-size-to(72px);
    @include box-sizing(border-box);
    position: absolute;
    top:20%;
    width: 100%;
    padding-left:20px;
  }
  ul{
    @include adjust-font-size-to(36px);
    @include inline-block-list;
    @include box-sizing(border-box);
    text-align:right;
    top:auto;
    position:absolute;
    bottom:10%;
    padding-right:20px;
    width: 100%;
  }
}
/*creative*/
#creative{
  display:none;
  #c-contents{
  @include clearfix;
  padding:10px 20px;
  }
  .c-box{
    @include box-sizing(border-box);
    float:left;
    position:relative;
    width:32%;
    margin:20px 0;

    .c-over{
      display:none;
    }

    .box-wrap{
      @include opacity(0.8);
      display:none;
      background-color:#000;
      position:absolute;
      height:100%;
      width: 100%;
      a{
        @include adjust-font-size-to(60px);
        @include border-radius(50%);
        @include box-sizing(border-box);
        position: absolute;
        top:50%;
        left:50%;
        width: 100px;
        height:100px;
        margin:-50px 0 0 -50px;
        display:inline-block;
        color:#fff;
        border:solid 10px #fff;
        text-align:center;
        vertical-align: middle;
      }
    }
  }
  .child-1,
  .child-4,
  .child-7{
    margin:20px 2%;
  }
  img{
    display: block;
  }
}
/*about*/
#about{
  display:none;
  #a-contents{
  @include clearfix;
  padding:10px 20px;
  }
  br{
    display:none;
  }
  h2{
    @include adjust-font-size-to(18px);
    border-left:solid 5px #000;
    padding-left: 5px;
    margin:8px 0;
  }
  p{
    @include adjust-font-size-to(15px);
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",YuGothic, '游ゴシック',"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }
  a{
    text-decoration: underline;
  }
}





//for smartphone
@media (max-width:767px){
  /*common*/
  #header{
    #menu{
      padding-right:10px;
    }
  }
  .title{
      @include adjust-font-size-to(30px);
      span{
        padding-left:10px;
      }
  }
  #overlay{
    #close{
      bottom:auto;
      top:30px;
      right:10px;
      text-align: right;
    }
    .c-over{
      padding:10px;
      .over-left{
        float:none;
        width: 100%;
      }
      .over-right{
        float:none;
        width: 100%;
        h2{
          @include adjust-font-size-to(15px);
        }
        h3{
          @include adjust-font-size-to(12px);
        }
        p{
          @include adjust-font-size-to(12px);
        }
      }
    }
  }
  #top{
    h1{
      @include adjust-font-size-to(60px);
    }
    ul{
      @include adjust-font-size-to(30px);
    }

  }
  #creative{
    #c-contents{
      padding:10px;
    }
    .c-box{
      width:49%;
      &:nth-child(2n){
        margin:10px 0 10px 1%;
      }
      &:nth-child(2n-1){
        margin:10px 1% 10px 0;
      }
      .box-wrap{
        a{
          @include adjust-font-size-to(36px);
          width: 60px;
          height:60px;
          margin:-30px 0 0 -30px;
          border:solid 6px #fff;
        }
      }
    }
    [class*="child"]{
      margin:0;
    }
  }
  #about{
    #a-contents{
      padding:10px;
      a{
        display:inline-block;
        margin-bottom:20px;
      }
    }
    br{
      display:block;
    }
  }

}
