@import "compass/reset";
@import "compass";

/*init*/
$base-font-size:12px;
$base-line-height:21px;
@include establish-baseline;

a{
  color:#000;
  text-decoration:none;
  &:hover{
    color:#999;
  }
}
body{
  font-family:'Droid Serif',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",YuGothic, '游ゴシック',"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
img{
  max-width:100%;
}

/*common*/
//header
#header{
  @include clearfix;
  @include transition(all 0.3s ease);
  .top &{
    display:none;
  }
  #menu{
    @include inline-block-list;
    display:block;
    text-align:right;
    padding-right:20px;
    @include box-sizing(border-box);
    li{
      @include adjust-font-size-to(18px);
      padding:0 10px;
    }
    .active{
      color:#999;
    }
  }
}
//wrapper
#wrapper{
  .top &{
    padding:0;
  }
}
//title
.title{
    @include adjust-font-size-to(36px);
    border-bottom:solid 2px #000;
    span{
      display:inline-block;
      padding-left:20px;
    }
}
//footer
#footer{
  display: none;
  text-align: center;
  width: 100%;
  a{
    display: block;
  }
  .top &{
    display:none;
  }
}
// loading
#loading{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  img{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-16px;
    margin-left:-16px;
  }
}
//overlay
#overlay{
  display: none;
  @include opacity(0.8);
  background-color:#000;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
/*top*/
#top{
  position:absolute;
  height:100%;
  width: 100%;
  h1{
    @include adjust-font-size-to(72px);
    @include box-sizing(border-box);
    position: absolute;
    top:20%;
    width: 100%;
    padding-left:20px;
  }
  ul{
    @include adjust-font-size-to(36px);
    @include inline-block-list;
    @include box-sizing(border-box);
    text-align:right;
    top:auto;
    position:absolute;
    bottom:10%;
    padding-right:20px;
    width: 100%;
  }
}
/*creative*/
#creative{
  @include clearfix;
  display:none;
  .c-box{
    @include box-sizing(border-box);
    float:left;
    padding:20px;
    position:relative;
    width:33.33%;
    &:before{
      @include opacity(0);
      background-color:#000;
      content:' ';
      position:absolute;
    }
  }
}
/*about*/
#about{
  display:none;
}





//for smartphone
@media (max-width:767px){
  /*common*/
  #header{
    #menu{
      padding-right:10px;
    }
  }
  .title{
      span{
        padding-left:10px;
      }
  }
  #footer{
    display:block;
    img{
      max-width:50%;
    }
  }

  #creative{
    .c-box{
      padding:10px;
      width:50%;
    }
  }
}
